apiVersion: kubevirt.io/v1
kind: VirtualMachine
metadata:
  labels:
    app: {{ _vm_name_lower }}
  name: {{ _vm_name_lower }}
  namespace: {{ winvm_namespace }}
spec:
  dataVolumeTemplates:
  - apiVersion: cdi.kubevirt.io/v1beta1
    kind: DataVolume
    metadata:
      name: {{ _vm_name_lower }}
    spec:
      source:
        pvc:
          name: {{ winvm_rootdisk_source_pvc.name }}
          namespace: {{ winvm_rootdisk_source_pvc.namespace }}
      storage:
        resources:
          requests:
            storage: {{ winvm_rootdisk_size }}
        storageClassName: {{ winvm_rootdisk_storageclass }}
{% if winvm_additional_disks is defined %}
{% for disk in winvm_additional_disks %}
  - apiVersion: cdi.kubevirt.io/v1beta1
    kind: DataVolume
    metadata:
      name: {{ _vm_name_lower }}-{{ disk.name }}
    spec:
      source:
        blank: {}
      storage:
        resources:
          requests:
            storage: {{ disk.size }}
        storageClassName: {{ disk.storage_class }}
{% endfor %}
{% endif %}
  runStrategy: RerunOnFailure
  template:
    metadata:
      annotations:
        vm.kubevirt.io/os: windows2k22
        vm.kubevirt.io/workload: server
      labels:
        kubevirt.io/domain: {{ _vm_name_lower }}
    spec:
      architecture: amd64
      domain:
        clock:
          timer:
            hpet:
              present: false
            hyperv: {}
            pit:
              tickPolicy: delay
            rtc:
              tickPolicy: catchup
          utc: {}
        cpu:
          cores: {{ winvm_cpu_cores }}
          sockets: {{ winvm_cpu_sockets }}
          threads: {{ winvm_cpu_threads }}
        devices:
          disks:
          - disk:
              bus: virtio
            name: rootdisk
{% if winvm_additional_disks is defined %}
{% for disk in winvm_additional_disks %}
          - disk:
              bus: {{ disk.bus }}
            name: {{ disk.name }}
            serial: {{ disk.name }}
{% endfor %}
{% endif %}
          - cdrom:
              bus: sata
            name: sysprep
          inputs:
          - bus: usb
            name: tablet
            type: tablet
          interfaces:
          - bridge: {}
            model: virtio
            name: default
        firmware:
          bootloader:
            efi:
              persistent: true
              secureBoot: false
        machine:
          type: pc-q35-rhel9.4.0
        memory:
          guest: {{ winvm_ram }}
        resources: {}
      evictionStrategy: LiveMigrate
      networks:
      - multus:
          networkName: {{ winvm_network_name }}
        name: default
      terminationGracePeriodSeconds: 3600
      volumes:
      - dataVolume:
          name: {{ _vm_name_lower }}
        name: rootdisk
{% if winvm_additional_disks is defined %}
{% for disk in winvm_additional_disks %}
      - dataVolume:
          name: {{ _vm_name_lower }}-{{ disk.name }}
        name: {{ disk.name }}
{% endfor %}
{% endif %}
      - name: sysprep
        sysprep:
          configMap:
            name: sysprep-{{ _vm_name_lower }}
